venv
.venv
__pycache__
.pytest_cache
.coverage
.ruff_cache
.vscode
htmlcov

# Ultralytics directories
/models/
/weights/
/runs/
/datasets/

# Ultralytics settings
models/settings.json

# CLIP model file
mobileclip_blt.ts